<div class="tab-content" dir="rtl">
    <div role="tabpanel" class="tab-pane fade" id="loremimage">
        <div style="width:100%;">
            <div class="col-md-12" style="padding:15px;background-color: #eee;">
                <h3 style="font-weight:700">عکس ساختگی</h3>
            </div>
        </div>
    </div>
    <div role="tabpanel" class="tab-pane fade in active" id="loremtext">
        <div style="width:100%;">
            <div class="col-md-12" style="padding:15px;background-color: #eee;">
                <h3 style="font-weight:700">متن ساختگی</h3>
            </div>
            <div class="col-md-12" style="padding:15px">
                <div class="col-md-4 lorerminfo">
                    <div style="text-align:justify;padding: 15px;border-color: #777;border-width: 1px;border-style: solid">
                        <h4 style="font-weight:700">لورم ایپسوم چیست ؟</h4>
                        <p>لورم ایپسوم یا طرح‌نما (به انگلیسی: Lorem ipsum) به متنی آزمایشی و بی‌معنی در صنعت چاپ، صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این متن به عنوان عنصری از ترکیب بندی برای پر کردن صفحه و ارایه اولیه شکل ظاهری و کلی طرح سفارش گرفته شده استفاده می نماید، تا از نظر گرافیکی نشانگر چگونگی نوع و اندازه فونت و ظاهر متن باشد. معمولا طراحان گرافیک برای صفحه‌آرایی، نخست از متن‌های آزمایشی و بی‌معنی استفاده می‌کنند تا صرفا به مشتری یا صاحب کار خود نشان دهند که صفحه طراحی یا صفحه بندی شده بعد از اینکه متن در آن قرار گیرد چگونه به نظر می‌رسد و قلم‌ها و اندازه‌بندی‌ها چگونه در نظر گرفته شده‌است. از آنجایی که طراحان عموما نویسنده متن نیستند و وظیفه رعایت حق تکثیر متون را ندارند و در همان حال کار آنها به نوعی وابسته به متن می‌باشد آنها با استفاده از محتویات ساختگی، صفحه گرافیکی خود را صفحه‌آرایی می‌کنند تا مرحله طراحی و صفحه‌بندی را به پایان برند.</p>
                    </div>
                </div>
                <div class="col-md-8">
                    <div style="text-align:justify;padding: 15px;border-color: #777;border-width: 1px;border-style: solid"> 
                        <div style="display:flex;flex-flow: wrap; flex-direction : row;justify-content : sapce-around;">
                                <div style="flex:1;padding: 15px">
                                    <p> زبان مورد نظر خود را انتخاب کنید : </p>
                                    <label class="radio-inline">
                                            <input type="radio" checked name="inlineRadioOptions" id="farsi" value="fa"> فارسی 
                                    </label>
                                    <label class="radio-inline">
                                        <input type="radio"  name="inlineRadioOptions" id="english" value="en"> انگلیسی 
                                    </label>
                                </div>
                                <div style="flex:1; padding: 15px">
                                        <p>گزینه مورد نظر خود را انتخاب کنید : </p>
                                        <form class="form-inline">
                                            <select class="form-control textform textOption" style="flex:2;border-radius : 0;box-shadow:none;border-color:#eee">
                                                <option value="char">حرف</option>
                                                <option value="word">کلمه</option>
                                                <option value="sentence">جمله</option>
                                                <option value="paragraph">پاراگراف</option>
                                            </select>
                                            <input type="number"  style="flex:1;border-radius : 0;box-shadow:none;border-color:#eee" class="form-control textform number" placeholder="تعداد ">
                                        </form>
                                        <br/>
                                        <div>
                                            <span class="button btn produce_text" style="margin-right : 5px;padding: 5px;border-radius: 0"> تولید کن </span>
                                        </div>
                                </div>
                        </div>
                        <hr/>
                        <div class="width:100%">
                            <textarea class="form-control textareaInfo" rows="5" style="padding: 15px;border-color: #777;border-width: 1px;border-style: solid;border-radius: 0;box-shadow: none;resize: none"></textarea>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>