<div style="margin-top: -25px;padding:15px" class="landingpage" dir="rtl">
        <div class="col-md-12">
            <div class="container">
                <h1>به لورمیفای خوش آمدید!</h2>
                <div class="col-md-6">
                    <h3 style="text-align:justify;padding: 10px;background-color: #fff">ما در اینجا عکس ها و متن های  ساختگی برای شما درست میکنیم
                            تا به راحتی بتونین ازشون توی وب سایت هاتون استفاده کنید!
                    </h3>
                </div>
                <div class="col-md-6 example">
                    <div>
                        <h3 style="padding:15px;background-color:#fff;text-align: justify">
                                لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                        </h3>
                        <div>
                            <img style="position:absolute;top: 80px;left: -20px;box-shadow: 5px 10px 10px #25252577;" src="http://localhost:8000/350X150/ff526978/ff981222/" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
     </div>