<div style="width:100%">
    <div class="conatiner" style="background-color : #eee;padding : 16px">
        <div class="container">
            <div class="container">
                <div class="container">
                    <div class="col-md-12">
                        <div class="col-md-6 col-xs-6 col-sm-6" style="text-align:center;padding : 10px">
                            <span href="#loremimage" aria-controls="home" role="tab" data-toggle="tab" style="font-weight : 600" class="button-primary">عکس ساختگی</span>
                        </div>
                        <div class="col-md-6 col-xs-6 col-sm-6" style="text-align:center;padding : 10px">
                            <span href="#loremtext" aria-controls="home" role="tab" data-toggle="tab" style="font-weight : 600" class="button-primary">متن ساختگی</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    
</div>