<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>404</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="/styles/app.css" />
</head>
<body>
    <div style="margin-left: 35%;margin-top : 15%">
        <div style="text-align: center;background-color: #eee;padding: 15px;width: 50%">
            <h1>404</h1>
            <h1>صفحه مورد نظر پیدا نشد</h1>
        </div>
    </div>
</body>
</html>